<div class="col m3 hide-on-small-and-down">
  <ul class="collection with-header">
    <li class="collection-header grey lighten-2">
      <h5 class="center">Nos produits</h5>
    </li>
    <li class="collection-item avatar" ng-repeat="benne in vm.bennes3">
      <img ng-src="{{benne.img}}" alt="" class="circle">
      <span class="title">{{benne.nom}}</span>
      <!-- <p>{{benne.type}}</p> -->
    </li>
    <li class="collection-item"><a href="#!/bennes">Tous nos produits...</a></li>
  </ul>
</div>
        