<div class="col m3 hide-on-small-and-down">
  <ul class="collection with-header">
    <li class="collection-header blue darken-3">
      <h5 class="center white-text">Nos Bennes</h5>
    </li>
    <li class="collection-item" ng-repeat="categorie in vm.categories">
      <span class="title" 
      		ng-click="vm.goCat(categorie)" 
      		role="button" tabindex="0">{{categorie}}</span>
    </li>
    <li class="collection-item">
    	<a href="/bennes" ng-click="vm.resetSearch()">Tous nos produits...</a>
    </li>
  </ul>
</div>
        