<footer class="page-footer indigo lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Eurobenne S.A.S</h5>
        <!-- <p class="grey-text text-lighten-4">Groupe Delaplace & Munier Industries</p> -->
        <p class="grey-text text-lighten-4">
          Rue J.Y Cousteau<br/>
          ZAC Du Bois de la Chocque<br/>
          02100, Saint Quentin, FRANCE
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li class="grey-text text-lighten-3"><b>Tel :</b> 03 23 03 90 90</li>
          <li class="grey-text text-lighten-3"><b>Fax :</b> 03 23 03 90 22</li>
          <li class="grey-text text-lighten-3"><b>Mail :</b>
            <a class="grey-text text-lighten-1" href="mailto:eurobenne@orange.fr">eurobenne@orange.fr</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Eurobenne - JF Durand
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
        
        