<div class="card">
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white black-text darken-text-2" href="content/Plaquette_Eurobenne.pdf" target="_blank">Brochure</a>
    </div>

    <div class="carousel-item white-text" href="#one!">
      <img src="content/img/EurobenneFacade2.png">
    </div>

    <div class="carousel-item white-text" href="#two!">
      <img src="content/img/bennes/Benne_ouverte_eurostyle_33m.jpg">
    </div>

    <!--<div class="carousel-item white-text" href="#three!">
      <img src="content/img/bennes/Benne_ouverte_toles_nervurees_20m.jpg">
    </div>-->

  <!--
    // EXEMPLE avec texte
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div> -->
  </div>
</div>