<nav class="indigo lighten-1">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="content/img/EurobenneLogo.png" width="65px"></a>
    <!-- mobile use-->
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Nos Bennes</a></li>
      <li><a href="sass.html">Modèles Spécifiques</a></li>
      <li><a href="badges.html">Accessoires</a></li>
      <li><a href="collapsible.html">Contact</a></li>
    </ul>

    <!-- nav mobile-->
    <ul class="side-nav" id="mobile">
	  <li><a href="sass.html">Nos Bennes</a></li>
      <li><a href="sass.html">Modèles Spécifiques</a></li>
      <li><a href="badges.html">Accessoires</a></li>
      <li><a href="collapsible.html">Contact</a></li>
	</ul>
  </div>
</nav>
        