<div class="card-panel">
	<div class="row center">
		<h3>Nous trouver</h3>
		<div class="col s12 m7">
			<div class="google-maps">
				<iframe frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ2U4DqfYY6EcRrSP2U-IEtVs&key=AIzaSyD7Rs5SvLX5LCVIkfQzLapA1zYcTVYG-HM" allowfullscreen></iframe> 
			</div>
		</div> 
		<div class="col s12 m5">
			<p class="flow-text">
			Eurobenne S.A.S
			</p>
			<p>
			Rue J.Y Cousteau<br/>
			ZAC Du Bois de la Chocque<br/>
			02100, Saint Quentin,<br/>
			FRANCE<br/>
			</p>
		</div>
	</div>
</div>