<ul class="tabs indigo lighten-1 tabs-transparent">
	<li class="tab"><a href="" ng-click="vm.search=''">Toutes</a></li>
	<li class="tab" ng-repeat="categorie in vm.categories">
		<a href="" ng-click="vm.search=categorie">{{categorie}}</a>
	</li>
</ul>


<div class="container">
	<!-- search bar -->
	<div class="row center">
	<form class="search-wrapper card">
		<div class="input-field">
			<input id="search" type="search" ng-model="vm.search" placeholder="Rechercher une benne">
			<label class="label-icon" for="search"><i class="fa fa-search"></i></label>
		</div>
	</form>
	</div>
	<!-- toutes les bennes -->
	<div class="row">
      <table class="striped">
      	<thead>
      		<tr>
      		  <td class="center">Aperçu</td>
      		  <td class="hide-on-small-and-down">Catégorie</td>
      		  <td>Description</td>
      		  
      	</thead>
        <tbody>
          <tr ng-repeat="b in vm.bennes | filter:vm.search">
          	<td class="center"><img src="{{b.img}}" height="80px"></td>
          	<td class="hide-on-small-and-down">{{b.type}}</td>
            <td>{{b.nom}}</td>            
            
          </tr>
        </tbody>
      </table>
	</div>
</div>