
<h2 class="orange-text text-lighten-1 center">Nos Bennes</h2>
<div class="container">
	<!-- tendances-->
	<div class="card-panel orange lighten-1">
		<h4 class="white-text">En ce moment ! </h4>
		<div class="row">
		  <div class="col s12 m4" ng-repeat="b in vm.bennes3">
			<div class="card sticky-action">
			  <img src="{{b.img}}" width="100%">
			  <div class="card-action">
			  	<p class="flow-text">{{b.nom}}</p>
			  </div>

			  <div class="card-reveal">...</div>
			</div>
		  </div>
		</div>
	</div>

	<!-- toutes les bennes -->
	<div class="row">
      <table class="striped">
      	<thead>
      		<tr>
      		  <td>Nom</td>
      		  <td>Image</td>
      		  <!-- <td>Plus d'informations</td> -->
      	</thead>
        <tbody>
          <tr ng-repeat="b in vm.bennes">
            <td>{{b.nom}}</td>
            <td><img src="{{b.img}}" height="60px"></td>
            <!-- <td></td> -->
          </tr>
        </tbody>
      </table>
	</div>
</div>